@import "../global/variables.scss";

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  @media (min-width: $tablet-width) {
    margin: 0 60px 0 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 162px 0 0;
  }
}

.navigation_user-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation__toggle {
  padding: 22px;
  margin: 0;
  display: block;
  width: 16px;
  height: 12px;
  background-color: $base-black;
  cursor: pointer;
  border: none;
  mask-image: url("../../img/icons/stack.svg#navigation-opened");
  mask-size: 16px 106px;
  mask-repeat: no-repeat;
  mask-position: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation--closed .navigation__toggle {
  mask-image: url("../../img/icons/stack.svg#close-menu");
}

.navigation--closed .navigation__list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.navigation--opened .navigation__list {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;

  @media (min-width: $tablet-width) {
    position: static;
  }
}

.navigation--nojs {
  position: static;
  min-height: 0;
}

.navigation--nojs .navigation__list {
  display: block;
  position: static;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}
